@model Employee
@{
    ViewData["Title"] = "Edit";
}
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>
                @using(Html.BeginForm("Edit","Validation",routeValues:new{id=Model.Id},FormMethod.Post,true,htmlAttributes:new{@class="mx-1 mx-md-4"})){
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Fname,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Fname,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Fname,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                   <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Lname,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Lname,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Lname,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Age,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Age,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Age,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Salary,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Salary,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Salary,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.BirthDate,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.BirthDate,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.BirthDate,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Address,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Address,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Address,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Email,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Email,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Email,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                                                          <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Url,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Url,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Url,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.Password,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.Password,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.Password,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.ConPassword,htmlAttributes:new{@class="form-label"})
                      @Html.EditorFor(ww=>ww.ConPassword,additionalViewData:new{htmlAttributes=new{@class="form-control"}})
                      @Html.ValidationMessageFor(ww=>ww.ConPassword,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                   <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      @Html.LabelFor(ww=>ww.DeptId,htmlAttributes:new{@class="form-label"})
                      @Html.DropDownListFor(ww=>ww.DeptId,ViewBag.depts as SelectList,htmlAttributes:new{@class="form-control"})
                      @Html.ValidationMessageFor(ww=>ww.DeptId,"",htmlAttributes:new{@class="text-danger"})
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input type="submit" value="Register" class="btn btn-primary btn-lg"/>
                  </div>
              }
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

