@model IEnumerable<Employee>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Employees</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="/Home/Register" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>Department Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>@item.Name</td>*@
                            <td>@item.Address</td>
                            <td>@item.Age</td>
                            <td>@item.Salary</td>
                            <td>@item.Department.DeptName</td>
                            <td style="width:150px;">
                                <a href="/Home/View?Id=@item.Id" class="edit"><i class="fa-solid fa-eye" style="font-size: x-large;"></i></a>
                                <a href="/Home/Edit?Id=@item.Id" class="edit"><i class="material-icons"  title="Edit">&#xE254;</i></a>
                                <a href="/Home/Delete?Id=@item.Id" class="delete"><i class="material-icons"  title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
